{name, "dynamic_compile"}.
{description, "compile and load erlang modules from string input"}.
{homepage, "https://github.com/JacobVorreuter/dynamic_compile"}.
{url, {git, "https://github.com/JacobVorreuter/dynamic_compile.git", {branch, "master"}}}.
{authors, ["Jacob Vorreuter <jacob.vorreuter@gmail.com>","Chris Newcombe <chris.newcombe@gmail.com>","Mats Cronqvist <mats.cronqvist@ericsson.com>"]}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
